body {
  background-color: black;
  font-family: 'Black Ops One', cursive;

  color: white;
}


.navbar-brand {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

header{

  margin-top: 75px;
}


